//html{
//    font-size: 40px;
//}

svg *{
//    fill: inherit;
}

svg{
    position: absolute;
    overflow: hidden;
//    fill: red;
//    transform: rotate(35deg);
}

svg *{
    position: absolute;
}
