//html{
//    font-size: 40px;
//}

svg *{
//    fill: inherit;
    position: relative;
}

svg{
    position: absolute;
    overflow: hidden;
    width: 600px;
    height: 600px;
//    fill: red;
//    transform: rotate(35deg);
}

//svg *{
//    position: absolute;
//}

#controls {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;
  transform: translate(-50%, 120px);
}

.grain{
    pointer-events: none;
}


